body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  width: 400px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  background: #334155;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.link {
  color: lightblue;
  cursor: pointer;
}

.logout {
  background: red;
}